* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center-login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.text-for-non-registered-user {
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
  text-decoration: none;
  padding-right: 5px;
}
.link-text-for-signup {
  font-size: 14px;
  color: #87cefa;
  line-height: 1.5;
  text-decoration: none;
}
