* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="form-"] {
  width: 100%;
}
[class*="form-title-"] {
  display: block;
  font-size: 30px;
  color: #ffff;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}
